@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center", style="background-color:rgb(153, 153, 255); color: white;">
    
    <h1 class="display-4">@ViewBag.title</h1>
    <h2>@ViewBag.Name</h2>
    <h3>@ViewBag.Description</h3>
    <h3>@ViewBag.Meaning</h3>
    <h4><em>@ViewBag.Music</em></h4>
    <h4>@ViewBag.Contact</h4>
    <h4>@ViewBag.ShaniaTwain</h4>
    <p><i>@ViewBag.Question</i></p>
    <p><strong>@ViewBag.FromThisMoment</strong></p>
    <p><a href="https://www.youtube.com/watch?v=0iJVtJgr6EM"></a>Shania Twain From this moment lyrics </p>
    <h4>@ViewBag.BriteySpears</h4>
    <h4><i>@ViewBag.Question</i></h4>
    <p><strong>@ViewBag.Text</strong></p>
    <p><a href="https://www.youtube.com/watch?v=DtbVZhU6VlM"></a>(You Drive me) Crazy - britney Spears - Lyrics</p>
</div>
