@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-color:rgb(255, 153, 204);">
<h1>@ViewData["Title"]</h1>
<h2>
@ViewBag.Love
</h2>
<h3>
@ViewBag.LoveYou
</h3>
<h4>
<em>
@ViewBag.AsLongAsILive
</em>
</h4>
<p>
<i>
@ViewBag.FromThisMoment
</i>
</p>
<h2>
@ViewBag.Crazy
</h2>
<h3>
@ViewBag.CantSleep
</h3>
<h4>
<em>
@ViewBag.Excited
</em>
</h4>
<p>
<i>
@ViewBag.EveryDayAndEveryNigth
</i>
</p>
</body>

